* {
  padding: 0;
  margin: 0 auto;
}

h4 {
  padding: 40px 0;
  text-align: center;
}

p {
  padding: 0 20px;
  text-align: justify;
  font-size: 14px;
}

.title {
  background-color: #FDC02F;
  text-align: center;
  width: 75%;
  display: inline-block;
}
.cuadro {
  width: 25%;
  height: 450px;
  border: 1px solid black;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
}

img {
  width: 80%;
}
